In [32]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations

In [33]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
277,tt1182345,5000000,9760104,Moon,Sam Rockwell|Kevin Spacey|Dominique McElligott...,Duncan Jones,The last place you'd ever expect to find yours...,With only three weeks left in his three year c...,97,Science Fiction|Drama,Liberty Films UK|Lunar Industries|Xingu Films|...,6/12/2009,7.4,2009
1846,tt0204946,28000000,90449929,Bring It On,Kirsten Dunst|Jesse Bradford|Huntley Ritter|El...,Peyton Reed,May the best moves win.,The Toro cheerleading squad from Rancho Carne ...,98,Comedy,Beacon Communications,8/25/2000,5.7,2000
913,tt0264935,50000000,56714147,Murder by Numbers,Sandra Bullock|Ben Chaplin|Ryan Gosling|Michae...,Barbet Schroeder,The only flaw in their plan was her.,Tenacious homicide detective Cassie Mayweather...,120,Crime|Drama|Thriller,Castle Rock Entertainment|Warner Bros. Picture...,4/19/2002,6.1,2002
402,tt1245526,58000000,71664962,RED,Bruce Willis|John Malkovich|Helen Mirren|Mary-...,Robert Schwentke,Still armed. Still dangerous. Still got it.,When his peaceful life is threatened by a high...,111,Action|Adventure|Comedy|Crime|Thriller,DC Comics|Di Bonaventura Pictures|Summit Enter...,10/13/2010,6.5,2010
653,tt0443274,40000000,151161491,Vantage Point,Dennis Quaid|Matthew Fox|Forest Whitaker|Sigou...,Pete Travis,"8 Strangers, 8 points of view. 1 Truth.",The attempted assassination of the American Pr...,90,Drama|Action|Thriller|Crime,Columbia Pictures|Original Film|Kanzaman|Relat...,2/1/2008,6.2,2008

In [34]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [35]:
answers = {} # создадим словарь для ответов

# предобработка для задания 6, добавление колонки profit 
data['profit'] = data.revenue - data.budget
# предобработка для задания 21, добавление колонки release_month
data['release_month']=data.release_date.apply(lambda x: x.split('/')[0])
# предобработка для задания 24, добавление колонки original_title_len
data['original_title_len']=data.original_title.apply(lambda x:len(x))
# предобработка для задания 25, добавление колонки overview_len
data['overview_len']=data.overview.apply(lambda x:len(x))

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [41]:
# в словарь вставляем номер вопроса и ответ на него
answers['1'] = '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '1157. Gods and General (tt0279111)'}

In [38]:
# код для решения задания 1:
data[data.budget==data.budget.max()][['original_title','imdb_id','budget']]

                                  original_title    imdb_id     budget
723  Pirates of the Caribbean: On Stranger Tides  tt1298650  380000000

ВАРИАНТ 2

In [37]:
# второй вариант решения задания 1:
data.query('budget==budget.max()')[['original_title','imdb_id','budget']]

                                  original_title    imdb_id     budget
723  Pirates of the Caribbean: On Stranger Tides  tt1298650  380000000

# 2. Какой из фильмов самый длительный (в минутах)?

In [40]:
# ответ для задания 2:
answers['2'] = '1157. Gods and General (tt0279111)'
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '1157. Gods and General (tt0279111)'}

In [147]:
# код для решения задания 2:
data.query('runtime==runtime.max()')[['original_title','imdb_id','runtime']]

         original_title    imdb_id  runtime
1157  Gods and Generals  tt0279111      214

# 3. Какой из фильмов самый короткий (в минутах)?

In [42]:
# ответ для задания 3:
answers['3'] = '768. Winnie the Pooh (tt1449283)'
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '1157. Gods and General (tt0279111)',
 '3': '768. Winnie the Pooh (tt1449283)'}

In [43]:
# код для решения задания 3:
data.query('runtime==runtime.min()')[['original_title','imdb_id','runtime']]

      original_title    imdb_id  runtime
768  Winnie the Pooh  tt1449283       63

# 4. Какова средняя длительность фильмов?

In [44]:
# ответ для задания 4:
answers['4'] = 110
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '1157. Gods and General (tt0279111)',
 '3': '768. Winnie the Pooh (tt1449283)',
 '4': 110}

In [45]:
# код для решения задания 4:
round(data.runtime.mean())

110

# 5. Каково медианное значение длительности фильмов?

In [46]:
# ответ для задания 5:
answers['5'] = 107
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '1157. Gods and General (tt0279111)',
 '3': '768. Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107}

In [47]:
# код для решения задания 5:
round(data.runtime.median())

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [48]:
# ответ для задания 6:
answers['6'] = '239. Avatar (tt0499549)'
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '1157. Gods and General (tt0279111)',
 '3': '768. Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': '239. Avatar (tt0499549)'}

In [49]:
# код для решения задания 6:
data.query('profit==profit.max()')[['original_title','imdb_id','profit']]

    original_title    imdb_id      profit
239         Avatar  tt0499549  2544505847

# 7. Какой фильм самый убыточный?

In [50]:
# ответ для задания 7:
answers['7'] = '1245. The Lone Ranger (tt1210819)'
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '1157. Gods and General (tt0279111)',
 '3': '768. Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': '239. Avatar (tt0499549)',
 '7': '1245. The Lone Ranger (tt1210819)'}

In [51]:
# код для задания 7:
data.query('profit==profit.min()')[['original_title','imdb_id','profit']]

       original_title    imdb_id     profit
1245  The Lone Ranger  tt1210819 -165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [52]:
# ответ для задания 8:
answers['8'] = 1478
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '1157. Gods and General (tt0279111)',
 '3': '768. Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': '239. Avatar (tt0499549)',
 '7': '1245. The Lone Ranger (tt1210819)',
 '8': 1478}

In [53]:
# код для задания 8:
data.query('revenue > budget').imdb_id.count()

1478

In [160]:
# код для задания 8 #2:
len(data.query('revenue > budget'))

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [54]:
# ответ для задания 9:
answers['9'] = '599. The Dark Knight (tt0468569)'
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '1157. Gods and General (tt0279111)',
 '3': '768. Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': '239. Avatar (tt0499549)',
 '7': '1245. The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': '599. The Dark Knight (tt0468569)'}

In [162]:
# код для решения девятого задания:
data[data.release_year==2008].query('revenue==revenue.max()')[['original_title','imdb_id','revenue']]

      original_title    imdb_id     revenue
599  The Dark Knight  tt0468569  1001921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [55]:
# ответ для задания 10:
answers['10'] = '1245. The Lone Ranger (tt1210819)'
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '1157. Gods and General (tt0279111)',
 '3': '768. Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': '239. Avatar (tt0499549)',
 '7': '1245. The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': '599. The Dark Knight (tt0468569)',
 '10': '1245. The Lone Ranger (tt1210819)'}

In [27]:
# код для решения задания 10:
data[(2012<=data.release_year) & (data.release_year<=2014)].query('profit==profit.min()')[['original_title','imdb_id','profit']]

       original_title    imdb_id     profit
1245  The Lone Ranger  tt1210819 -165710090

In [164]:
# код для решения задания 10 №2:
data.query('release_year in [2012,2013,2014]').query('profit==profit.min()')[['original_title','imdb_id','profit']]

       original_title    imdb_id     profit
1245  The Lone Ranger  tt1210819 -165710090

# 11. Какого жанра фильмов больше всего?

In [56]:
# ответ для задания 11:
answers['11'] = 'Drama'
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '1157. Gods and General (tt0279111)',
 '3': '768. Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': '239. Avatar (tt0499549)',
 '7': '1245. The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': '599. The Dark Knight (tt0468569)',
 '10': '1245. The Lone Ranger (tt1210819)',
 '11': 'Drama'}

In [57]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
cnt1=Counter()
for i in data.genres.apply(lambda x:x.split('|')):
    if len(i)>1:
        for x in i:
            cnt1[x] += 1
    else:
        cnt1[i[0]] += 1 
cnt1.most_common(1)

[('Drama', 782)]

ВАРИАНТ 2

In [58]:
l = [x.split('|')[i] for x in data.genres for i in range(len(x.split('|')))]
Counter(l).most_common(1)

[('Drama', 782)]

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [59]:
# ответ для задания 12:
answers['12'] = 'Drama'
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '1157. Gods and General (tt0279111)',
 '3': '768. Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': '239. Avatar (tt0499549)',
 '7': '1245. The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': '599. The Dark Knight (tt0468569)',
 '10': '1245. The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama'}

In [60]:
# код для решения задания 12:
l = [x.split('|')[i] for x in data[data.profit>0].genres for i in range(len(x.split('|')))]
Counter(l).most_common(1)

[('Drama', 560)]

## 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [61]:
# ответ для задания 13:
answers['13'] = 'Peter Jackson'
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '1157. Gods and General (tt0279111)',
 '3': '768. Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': '239. Avatar (tt0499549)',
 '7': '1245. The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': '599. The Dark Knight (tt0468569)',
 '10': '1245. The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson'}

In [62]:
# код для решения задания 13:
dct = {}
#формируем список режисcеров (с повторяющимися значениями)
drclist = [x.split('|')[i] for x in data.director for i in range(len(x.split('|')))]
#устраняем повторяющиеся значения через  Counter (сводный список), проходим по ключам, вычисляя для каждого сумму кассовых сборов
for d in Counter(drclist).keys():
    dct[d]=data[data.director.str.contains(d, na=False)].revenue.sum()         
#print(Counter(dct).most_common(1))
#выводим режиссера для которого значение максимально
print(max(dct, key=dct.get))

Peter Jackson

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [63]:
# ответ для задания 14:
answers['14'] = 'Robert Rodriguez'
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '1157. Gods and General (tt0279111)',
 '3': '768. Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': '239. Avatar (tt0499549)',
 '7': '1245. The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': '599. The Dark Knight (tt0468569)',
 '10': '1245. The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez'}

In [152]:
# код для решения задания 14:
drcact=data[data.genres.str.contains('Action', na=False)].director
drclist2=[x.split('|')[i] for x in drcact for i in range(len(x.split('|')))]
Counter(drclist2).most_common(1)

[('Robert Rodriguez', 9)]

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [64]:
# ответ для задания 15:
answers['15'] = 'Chris Hemsworth'
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '1157. Gods and General (tt0279111)',
 '3': '768. Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': '239. Avatar (tt0499549)',
 '7': '1245. The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': '599. The Dark Knight (tt0468569)',
 '10': '1245. The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth'}

In [65]:
# код для решения задания 15:
dct = {}
#формироуем список актеров для фильмов 2012 года (с повторяющимися значениями)
actlist = [x.split('|')[i] for x in data[data.release_year==2012].cast for i in range(len(x.split('|')))]
#устраняем повторяющиеся значения через  Counter (сводный список), проходим по ключам, вычисляя для каждого сумму кассовых сборов
for d in Counter(actlist).keys():
    dct[d]=data[(data.release_year==2012) & (data.cast.str.contains(d, na=False))].revenue.sum()         
print(Counter(dct).most_common(1))
#выводим актера для которого значение максимально
print(max(dct, key=dct.get))

[('Chris Hemsworth', 2027450773)]
Chris Hemsworth

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [66]:
# ответ для задания 16:
answers['16'] = 'Matt Damon'
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '1157. Gods and General (tt0279111)',
 '3': '768. Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': '239. Avatar (tt0499549)',
 '7': '1245. The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': '599. The Dark Knight (tt0468569)',
 '10': '1245. The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon'}

In [67]:
# код для решения задания 16:
#формироуем список актеров для высокобюджетных фильмов (бюджет больше среднего)
actlist = [x.split('|')[i] for x in data[data.budget>data.budget.mean()].cast for i in range(len(x.split('|')))]
Counter(actlist).most_common(1)

[('Matt Damon', 18)]

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [68]:
# ответ для задания 17:
answers['17'] = 'Action'
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '1157. Gods and General (tt0279111)',
 '3': '768. Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': '239. Avatar (tt0499549)',
 '7': '1245. The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': '599. The Dark Knight (tt0468569)',
 '10': '1245. The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action'}

In [69]:
# код для решения задания 17:
#формироуем список жанров для фильмов с участием актера Nicolas Cage 
gnr=data[data.cast.str.contains('Nicolas Cage', na=False)].genres
gnrlist = [x.split('|')[i] for x in gnr for i in range(len(x.split('|')))]
Counter(gnrlist).most_common(1)

[('Action', 17)]

# 18. Самый убыточный фильм от Paramount Pictures

In [70]:
# ответ для задания 18:
answers['18'] = '925. K-19: The Widowmaker (tt0267626)'
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '1157. Gods and General (tt0279111)',
 '3': '768. Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': '239. Avatar (tt0499549)',
 '7': '1245. The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': '599. The Dark Knight (tt0468569)',
 '10': '1245. The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': '925. K-19: The Widowmaker (tt0267626)'}

In [71]:
# код для решения задания 18:
data[data.production_companies.str.contains('Paramount Pictures', na=False)].query('profit==profit.min()')[['original_title','imdb_id','profit']]

           original_title    imdb_id    profit
925  K-19: The Widowmaker  tt0267626 -64831034

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [72]:
# ответ для задания 19:
answers['19'] = 2015
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '1157. Gods and General (tt0279111)',
 '3': '768. Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': '239. Avatar (tt0499549)',
 '7': '1245. The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': '599. The Dark Knight (tt0468569)',
 '10': '1245. The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': '925. K-19: The Widowmaker (tt0267626)',
 '19': 2015}

In [73]:
# код для решения задания 19:
data.groupby('release_year').revenue.sum().sort_values(ascending=False).head(1)

release_year
2015    25449202382
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [74]:
# ответ для задания 20:
answers['20'] = 2014
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '1157. Gods and General (tt0279111)',
 '3': '768. Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': '239. Avatar (tt0499549)',
 '7': '1245. The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': '599. The Dark Knight (tt0468569)',
 '10': '1245. The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': '925. K-19: The Widowmaker (tt0267626)',
 '19': 2015,
 '20': 2014}

In [75]:
# код для решения задания 20:
wbprod=data[data.production_companies.str.contains('Warner Bros', na=False)]
wbprod.groupby('release_year').profit.sum().sort_values(ascending=False).head(1)

release_year
2014    2295464519
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [76]:
# ответ для задания 21:
answers['21'] = 'Сентябрь'
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '1157. Gods and General (tt0279111)',
 '3': '768. Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': '239. Avatar (tt0499549)',
 '7': '1245. The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': '599. The Dark Knight (tt0468569)',
 '10': '1245. The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': '925. K-19: The Widowmaker (tt0267626)',
 '19': 2015,
 '20': 2014,
 '21': 'Сентябрь'}

In [77]:
# код для решения задания 21:
# в предобработку добавлен столбец release_month: data.release_date.apply(lambda x: x.split('/')[0])
data.release_month.value_counts().head(1)

9    227
Name: release_month, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [78]:
# ответ для задания 22:
answers['22'] = 450
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '1157. Gods and General (tt0279111)',
 '3': '768. Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': '239. Avatar (tt0499549)',
 '7': '1245. The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': '599. The Dark Knight (tt0468569)',
 '10': '1245. The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': '925. K-19: The Widowmaker (tt0267626)',
 '19': 2015,
 '20': 2014,
 '21': 'Сентябрь',
 '22': 450}

In [79]:
# код для решения задания 22:
len(data.query('release_month in [\'6\',\'7\',\'8\']'))

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [80]:
# ответ для задания 23
answers['23'] = 'Peter Jackson'
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '1157. Gods and General (tt0279111)',
 '3': '768. Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': '239. Avatar (tt0499549)',
 '7': '1245. The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': '599. The Dark Knight (tt0468569)',
 '10': '1245. The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': '925. K-19: The Widowmaker (tt0267626)',
 '19': 2015,
 '20': 2014,
 '21': 'Сентябрь',
 '22': 450,
 '23': 'Peter Jackson'}

In [81]:
# код для решения задания 23:
#формируем список режиссеров, выпустивших фильмы зимой (с повторениями)
windrct=data.query('release_month in [\'12\',\'1\',\'2\']').director
drctlist = [x.split('|')[i] for x in windrct for i in range(len(x.split('|')))]
#выводим самого продуктивного
Counter(drctlist).most_common(1)

[('Peter Jackson', 7)]

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [82]:
# ответ для задания 24:
answers['24'] = 'Four By Two Productions'
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '1157. Gods and General (tt0279111)',
 '3': '768. Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': '239. Avatar (tt0499549)',
 '7': '1245. The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': '599. The Dark Knight (tt0468569)',
 '10': '1245. The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': '925. K-19: The Widowmaker (tt0267626)',
 '19': 2015,
 '20': 2014,
 '21': 'Сентябрь',
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions'}

In [83]:
# код для решения задания 24:
dct = {}
# в предобработку добавлена колонка с длиной названий original_title_len: data.original_title.apply(lambda x:len(x))
#формируем список студий (с повторяющимися значениями)
complist = [x.split('|')[i] for x in data.production_companies for i in range(len(x.split('|')))]
#устраняем повторяющиеся значения через  Counter, вычисляем СРЕДНЕЕ значение по кол-ву символов
for d in Counter(complist).keys():
    dct[d]=data[data.production_companies.str.contains(d, na=False, regex=False)].original_title_len.mean() 
#выводим максимальное из средних
print(max(dct, key=dct.get))

Four By Two Productions

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [84]:
# ответ для задания 25:
answers['25'] = 'Midnight Picture Show'
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '1157. Gods and General (tt0279111)',
 '3': '768. Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': '239. Avatar (tt0499549)',
 '7': '1245. The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': '599. The Dark Knight (tt0468569)',
 '10': '1245. The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': '925. K-19: The Widowmaker (tt0267626)',
 '19': 2015,
 '20': 2014,
 '21': 'Сентябрь',
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show'}

In [85]:
# код для решения задания 25:
dct = {}
# в предобработку добавлена колонка с длиной описания overview_len: data.overview.apply(lambda x:len(x))
#формироуем список студий (с повторяющимися значениями)
complist = [x.split('|')[i] for x in data.production_companies for i in range(len(x.split('|')))]
#устраняем повторяющиеся значения через  Counter, вычисляем СРЕДНЕЕ значение по кол-ву символов для описаний
for d in Counter(complist).keys():
    dct[d]=data[data.production_companies.str.contains(d, na=False, regex=False)].overview_len.mean()
#выводим самые длинные
print(max(dct, key=dct.get))

Midnight Picture Show

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [86]:
# ответ для задания 26:
answers['26'] = 'The Dark Knight, Interstellar, The Imitation Game, Inside Out, Room, The Wolf of Wall Street, Gone Girl, 12 Years a Slave, Guardians of the Galaxy'
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '1157. Gods and General (tt0279111)',
 '3': '768. Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': '239. Avatar (tt0499549)',
 '7': '1245. The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': '599. The Dark Knight (tt0468569)',
 '10': '1245. The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': '925. K-19: The Widowmaker (tt0267626)',
 '19': 2015,
 '20': 2014,
 '21': 'Сентябрь',
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'The Dark Knight, Interstellar, The Imitation Game, Inside Out, Room, The Wolf of Wall Street, Gone Girl, 12 Years a Slave, Guardians of the Galaxy'}

In [87]:
# код для решения задания 26:
#отбираем лучие (рейтинг которых больше среднего) и вычисляем 1% от их общего количества
top = data.query('vote_average>vote_average.mean()').vote_average.count()*0.01
data[['original_title','imdb_id','vote_average']].sort_values(['vote_average'],ascending=False).head(int(top))

               original_title    imdb_id  vote_average
599           The Dark Knight  tt0468569           8.1
118              Interstellar  tt0816692           8.0
125        The Imitation Game  tt2084970           8.0
9                  Inside Out  tt2096673           8.0
34                       Room  tt3170832           8.0
1183  The Wolf of Wall Street  tt0993846           7.9
128                 Gone Girl  tt2267998           7.9
1191         12 Years a Slave  tt2024544           7.9
119   Guardians of the Galaxy  tt2015381           7.9

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [88]:
# ответ для задания 27:
answers['27'] = 'Daniel Radcliffe, Rupert Grint'
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '1157. Gods and General (tt0279111)',
 '3': '768. Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': '239. Avatar (tt0499549)',
 '7': '1245. The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': '599. The Dark Knight (tt0468569)',
 '10': '1245. The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': '925. K-19: The Widowmaker (tt0267626)',
 '19': 2015,
 '20': 2014,
 '21': 'Сентябрь',
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'The Dark Knight, Interstellar, The Imitation Game, Inside Out, Room, The Wolf of Wall Street, Gone Girl, 12 Years a Slave, Guardians of the Galaxy',
 '27': 'Daniel Radcliffe, Rupert Grint'}

In [89]:
# код для решения задания 27:
d={}
#преобразем значения столбца cast в списки и проходим по ним
for i in data.cast.apply(lambda x: x.split('|')):
#вычисляем количество комбинаций каждой пары
    l = Counter(combinations(i,2))
#добавляем значения к общему словарю
    for x,y in l.items():
        if x not in d:
            d[x]=y
        else:
            d[x]+=1
#выводим пару с наибольшим значением
print(max(d, key=d.get))

('Daniel Radcliffe', 'Rupert Grint')

# Submission

In [90]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '1157. Gods and General (tt0279111)',
 '3': '768. Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': '239. Avatar (tt0499549)',
 '7': '1245. The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': '599. The Dark Knight (tt0468569)',
 '10': '1245. The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': '925. K-19: The Widowmaker (tt0267626)',
 '19': 2015,
 '20': 2014,
 '21': 'Сентябрь',
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'The Dark Knight, Interstellar, The Imitation Game, Inside Out, Room, The Wolf of Wall Street, Gone Girl, 12 Years a Slave, Guardians of the Galaxy',
 '27': 'Daniel Radcliffe, Rupert Grint'}

In [91]:
# и убедиться что ни чего не пропустил)
len(answers)

27